* {
	margin: 0;
}

html, body {
	height: 100%;
}

html {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
	font-size: 62.5%;
	color: white;
	background: linear-gradient(to bottom, #2473ab 0%, #1e528e 70%, #5b7983 100%);
}

body {
	font-size: 1.5rem;
}

h1, h3 {
	font-weight: normal;
}

h2 {
	font-size: 4rem;
	margin-bottom: 5rem;
	font-weight: 600;	
}

h3 {
	font-size: 3rem;
/* 	margin-bottom: 3rem; */
}

h1 {
	font-size: 4rem;
	margin-bottom: 10rem;
}

a {
	color: white;
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -7rem;
	position: relative;
	text-align: center;
}

footer {
	float: left;
}

footer, .push {

}

footer .footer-contents {
	padding: 0 5rem;
	position: relative;
}

.website-nav {
	position: relative;
	padding: 5rem;
}

.website-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.website-nav ul li {
	float: left;
	padding: 0.5rem 2rem 0.5rem 0;
	line-height: 21px;
}

.website-nav ul li a {
	color: white;
	text-decoration: none;
}

.home-link {
	font-weight: bold;
}

.message {
	position: relative;
	padding: 0 5rem;
	margin-bottom: 3rem;
	width: auto;
}

.message .twitter-link {
	float: left;
	margin-right: 20px;
}

.message .twitter-link img {
	width: 40px;
	height: 40px;
}

.message .text {
	float: left;
	text-align: center;
}

.message:after, .website-nav:after {
	content: " ";
	display: table;
	clear: both;
}

.graphics {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
}

.graphics .tower svg {
	width: calc(100vw);
	height: calc(90vh);
}

.graphics .cloud {
	top: 30rem;
	position: relative;
}

.page-content {
	padding: 1rem 5rem;
}

.page-content p {
	margin-bottom: 1rem;
}

.path {
	stroke-dasharray: 4000;
	stroke-dashoffset: 4000;
	animation: dash 5s linear forwards;
}

@
keyframes dash {to { stroke-dashoffset:0;
	
}

}
@media ( min-height : 500px) and (min-width: 700px) {
	.message {
		padding: 0;
		width: 75%;
		left: calc(50vw - 28rem);
/* 		top: calc(15vh - 5rem); */
	}
	.message .text {
		padding-right: 0rem;
	}
	.graphics {
		display: block;
		margin-bottom: 6rem;
	}
	.message .twitter-link img {
		width: 70%;
		height: 70%;
	}
	.page-content {
		padding: 3rem 5rem;
	}
	.poll-content {
		padding: 0;
		width: 75%;
		margin: auto;
		left:0;
/* 		left: calc(50vw - 55rem); */
	}
}

@media ( min-height : 500px) and (min-width: 1240px) {
	.message {
/* 		left: calc(50vw - 10rem); */
/* 		top: calc(25vh - 5rem); */
	}
	h1 {
		font-size: 10rem;
	}
	.message .twitter-link img {
		width: 80%;
		height: 80%;
	}
}

@media ( min-aspect-ratio : 11/5) {
	.graphics {
		display: none;
	}
}

.pollsTables {
	margin-top: 20px;
	border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

.pollsTables tr td, .pollsTables tr th{
	border-collapse: collapse;
    border: 1px solid black;
    padding: 15px;
} 

.pollsTables tr:nth-child(even) {background-color: #4673C1;}

.pollsTables tr:hover {background-color: #61BEFB;}

.login-form button {
	border: 1.5px solid #fff;
	width: fit-content;
	padding: 4px 8px;
	border-radius: 3px;
	margin: 25px 0;
	font-size: 1.5rem;
	color: #236da6;
	background: #fff;
	cursor: pointer;
	float: center;
	font-weight: 550;
}

.login-form {
	margin: auto;
}

.login-form td {
	font-size: 2rem;
}

.text a {
	text-decoration: underline;
}

.login-form input, .login-form textarea {
	border-radius: 3px;
	padding: 4px;
	margin: 2px 5px;
}

.search-form button {
	border: 1.5px solid #fff;
	width: fit-content;
	padding: 4px 8px;
	border-radius: 3px;
	margin: 25px 0;
	font-size: 1.5rem;
	color: #236da6;
	background: #fff;
	cursor: pointer;
	float: center;
	font-weight: 550;
}

.search-form {
	margin: auto;
}

.search-form td {
	font-size: 2rem;
}

.search-form input {
	border-radius: 3px;
	padding: 4px;
	margin: 2px 5px;
}

.new-title {
	width: 250px;
}

.login-form textarea {
	width: 250px;
}

.display-poll td {
	padding: 8px;
	margin: 2px 5px;
	font-size: 2rem;
}

.first-td {
	float: right;
	font-weight: bold;
	margin-right: 8px;
}

.cat-selection {
	line-height: 50px;
}

.cat-dropdown {
	padding: 6px;
	border: 1.5px solid gray;
	width: 230px;
}

.line-height {
	line-height: 75px;
}

.vote-options-tbl {
	margin-top: 20px;
}

.vote-options-tbl td, th {
	padding: 8px;
}

.margin-bottom-3 {
	margin-bottom: 3rem;
}

input[type=radio] {
	margin: 5px;
	cursor: pointer;
}

input[type=text] {
	width: 200px;
}

.discussion-tree {
	background-color: #c7ced0;
    border: 1px solid black;
    margin: auto;
    padding: 30px;
    color: #161717;
}

.discussion-tree td {
	text-align: left;
}

.jstree-default a { 
    white-space:normal !important; height: auto; 
}
.jstree-anchor {
    height: auto !important;
}
.jstree-default li > ins { 
    vertical-align:top; 
}
.jstree-leaf {
    height: auto;
}
.jstree-leaf a{
    height: auto !important;
}

.significant {
	color: red;
	font-weight: normal;
}
